<div class="row">
	<div class="col-lg-12">
		<form>
		  	<div class="form-group">
		    	<label for="textInput">Insert Text:</label>
		    	<input 	type="text" class="form-control" id="textInput" ng-model="vm.inputMessage" placeholder="paste text here"/>
		    	<button type="button" ng-click="vm.parseInput()">Parse</button>
		    	<p> {{vm.outputMessage}}</p>
		  	</div>
			  	<div class="form-group">
		    	<label for="Output">Binding Working?</label>
		    	<p>{{vm.main}}</p>
		  	</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<ul>
			<li ng-repeat="result in vm.testResults">
				<h6 ng-show="result.state">{{result.testName}} " Passed! " {{result.message}}</h6>
				<h6 ng-show="!result.state">{{result.testName}} " Failed! " {{result.message}}</h6>
			</li>
		</ul>
	</div>	
</div>